@font-face {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("ttf");
}

.flex {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template: 10px 10px / 30px 30px;
  gap: 10px;
}
